body {
  background-color: #ebfc03;
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
  color: #2b3e51;
}

.resumeLink {
  height: 50px;
  line-height: 50px;
  width: 100%;
  margin: 0;
  box-sizing: border-box;
  color: #8a8b8e;
  border: 1px solid #c2c0ca;
  font-size: 16px;
  font-weight: bold;
}

.resumeLink:hover {
  width: 110%;
  position: relative;
  left: -5%;
  background-color: rgb(170, 0, 164);
  cursor: pointer;
  color: #ffffff;
}

.resumeLink:before {
  position: relative; 
  left: -30px;
  content: "✖";
}

a {
  color: #3ca9e2;
  text-decoration: none;
}

#login-form-wrap {
  background-color: #fff;
  width: 35%;
  margin: 50px auto;
  text-align: center;
  padding: 20px 0 0 0;
  border-radius: 4px;
  box-shadow: 0px 30px 50px 0px rgba(0, 0, 0, 0.677);
}

#back-wrap {
  background-color: #eeedf1;
  color: #505153;
  font-size: 14px;
  width: 100%;
  padding: 10px 0;
  border-radius: 0 0 4px 4px;
}